body {
  font-family: var(--familiaCorpo);
  font-size: var(--tamanhoCorpo);
  color: var(--gray);

  background: url(../../img/background-texture.png), url(../../img/background-lines.svg);
  background-position: center;
}

.container {
  padding-right: 1rem;
  padding-left: 1rem;
}

.titulo{
font-size: var(--tamanhoTitulo);
}

.titulo--destaque{
  font-family: var(--familiaTituloDestaque);
  color: var(--black);
  font-size: var(--tamanhoTituloDestaque);
  font-weight: var(--pesoTituloDestaque);

  display: block;

  margin: 0.75rem 0;
}

.alinhamento--esquerda{
  text-align: left;
}

.alinhamento--centro{
  text-align: center;
}

.texto{
  line-height: 26px;
}
